<!--template voor 1 kolom in de body van stad.php -->
<div class="col-sm-4">

    <h3>@@cit_name@@</h3>

    <ul>
        <li>Inwoners: @@cit_inhabitants@@</li>
        <li>Coordinates: @@cit_coordinates@@</li>
    </ul>

    <a href="stad_form.php?id=@@img_id@@">
        <img title="@@img_title@@" class="img-fluid" src=img/@@img_filename@@.jpg>
    </a>
    <span class="breadcrumb black">@@img_title@@</span>
    <span class="breadcrumb black">@@cit_weather_desc@@, @@cit_weather_temp@@ &deg;C</span>

</div>


